@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
body {
  background: #02012b;
  font-family: "DM Sans", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

@keyframes waveMove {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.dot-wave-1 {
  animation: waveMove 0.8s ease-in-out infinite;
  animation-delay: 0s;
}

.dot-wave-2 {
  animation: waveMove 0.8s ease-in-out infinite;
  animation-delay: 0.2s;
}

.dot-wave-3 {
  animation: waveMove 0.8s ease-in-out infinite;
  animation-delay: 0.4s;
}
